<div class="container">
  <h1>管理者一覧</h1>
  <div class="row">
    <div class="col">
      <%= will_paginate @administrators %>
    </div>
    <div class="col text-right">
      <%= link_to "管理者登録", new_admin_administrator_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <table class="table">
    <caption>管理者一覧</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th scope="col">管理者名</th>
        <th scope="col">カナ</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">編集ボタン</th>
        <th scope="col">削除ボタン</th>
      </tr>
    </thead>
    <tbody>
      <% @administrators.each do |admin| %>
        <tr>
          <td><%= admin.id %></td>
          <td><%= link_to "#{admin.name}", admin_administrator_path(admin), class: 'admin-link' %></td>
          <td><%= admin.name_kana %></td>
          <td><%= admin.email %></td>
          <% if current_admin && current_admin.manager? %>
            <td><%= link_to "編集", edit_admin_administrator_url(admin), class: 'btn btn-primary' %></td>
          <% end %>
          <% if current_admin && current_admin.manager? %>
            <td><%= link_to "削除", admin_administrator_url(admin), method: :delete, date:{confirm: "本当に削除してもいいですか？"} %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
