<div class="container">
  <h1>商品一覧</h1>

  <div class="row">
    <% @products.each do |product| %>
      <div class="card" style="width: 25%">
        <% if product.image_url %>
          <%= image_tag product.image_url, class: 'card-img-top img-thumbnail' %>
        <% else %>
          <%= image_tag "no_image300.gif", class: 'cardcard-img-top img-thumbnail' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">値段 : <%= product.price %></p> <!-- ここには商品のフォーマット見たいのを入れたい。というよりここに値段の情報入れないほうがいいかもしれない --!>

          <%= form_tag(carts_path, method: :post) do %>
            <%= hidden_field_tag :product_id, product.id %>
            <div>
              <%= label_tag :quantity, "個数" %>
              <%= select_tag 'quantity', options_for_select([["1",1],["2",2],["3",3],["4",4],["5",5],["6",6],["7",7],["8",8],["9",9],["10",10]]) %>
            </div>
            <%= submit_tag "カートに入れる", class: 'btn btn-primary' %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>
